.loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); /* Black w/ opacity */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
   z-index: 1100;
}

.cursor-pointer{
    cursor: pointer;
}
