<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto" *ngFor="let item of listOcorrencia">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">message</i>
              </div>
              <h4 class="card-title">
                Comunicados
                <small class="category" *ngIf="user != 'Condomino'">
                  <i class="material-icons pull-right cursor-pointer" role="button" (click)="deleteComunicado(item.id_ocorrencia)">delete_outline</i>
                </small>
              </h4>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                {{item.titulo}}
              </h4>
              <div class="card-category" [innerHtml]="item.descricao"></div>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">person</i>
                Publicado por {{item.nome_usuario}}
              </div>
              <div class="stats pull-right">
                <i class="material-icons">access_time</i>
                {{item.data_ocorrencia | date: 'dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>