<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">calendar_today</i>
              </div>
              <h4 class="card-title">
                Reservas
              </h4>
            </div>
            <div class="card-body" *ngIf="isEvent">
              <ng-fullcalendar class="top-custom" [options]="calendarOptions" (dayClick)="eventClick($event.detail.date._d)">
              </ng-fullcalendar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="loader-wrapper" *ngIf="isOpen">
  <div class="col-md-5 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">calendar_today</i>
        </div>
        <h4 class="card-title">
          Adicionar Reserva
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field>
              <mat-select [(ngModel)]="idArea" placeholder="Escolha o espaço">
                <mat-option *ngFor="let item of listAreas" value="{{item.id_area}}-{{item.tipo_espaco}}">{{item.nome}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input [disabled]="idArea?.split('-')[1] != 'COM_HORARIO'" matInput placeholder="Horario Inicial Reserva"
                type="time" [(ngModel)]="horario_ini">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input [disabled]="idArea?.split('-')[1] != 'COM_HORARIO'" matInput placeholder=" Horario Final Reserva"
                type="time" [(ngModel)]="horario_fim">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>Data Selecionada:
              {{dateSelected}}
            </label>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <button mat-raised-button (click)="isOpen = false" class="btn btn-round">
            Cancelar
          </button>
        </div>
        <div class="stats pull-right">
          <button mat-raised-button (click)="cadastraReserva()" class="btn btn-round btn-success pull-right">
            Cadastrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>