<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-7 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">person_add</i>
              </div>
              <h4 class="card-title">
                Registro de Usuário
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="formCadastroUsuario" (ngSubmit)="doCadastro()">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Login" type="text" formControlName="login">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Senha" type="password" formControlName="senha">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-select placeholder="Tipo Usuário" formControlName="tipo">
                      <mat-option *ngFor="let tipo of listTipo" value="{{tipo.id_tipo}}">{{tipo.descricao}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-md-6">
                    <mat-select placeholder="Residente" formControlName="cpf_pessoa">
                      <mat-option *ngFor="let cd of listCondomino" value="{{cd.cpf}}">{{cd.nome}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-round pull-right">
                  Cadastrar
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>