<div class="wrapper login-wrapper" data-background-color="white">
    <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="row">
                <div class="col-md-7 ml-auto mr-auto">
                    <div class="card card-chart">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <h4 class="card-title">
                                Registro de Áreas Comums

                            </h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formCadastroArea" (ngSubmit)="doCadastro()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Nome Area Comum" maxlength="40" type="text"
                                                formControlName="nome">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Descrição" type="text" formControlName="descricao">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Detalhes" type="text" formControlName="detalhes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Valor" type="text" formControlName="valor">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Limite de Pessoas" type="number"
                                                formControlName="limite_pessoas">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Limite de Horário" type="time" formControlName="limite_horario">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <mat-select placeholder="Condominio" formControlName="cnpj_condominio">
                                                <mat-option *ngFor="let condominio of listCondominio" value="{{condominio.cnpj}}">{{condominio.razao_social}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <mat-select placeholder="Tipo de Reserva" formControlName="tipo_espaco">
                                                <mat-option value="COM_HORARIO">COM INTERVALO DE HORÁRIO</mat-option>
                                                <mat-option value="SEM_HORARIO">SEM INTERVALO DE HORÁRIO</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <button mat-raised-button type="submit" class="btn btn-round pull-right">
                                    Cadastrar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<div class="loader-wrapper" *ngIf="load">
    <div class="load">
        <mat-spinner></mat-spinner>
    </div>
</div>

<!--  -->