<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row" *ngIf="user == 'Condomino'">
        <div class="col-md-12 ml-auto mr-auto">
          <button type="submit" class="btn btn-round pull-right" (click)="cadastrar = true">
            Cadastrar Ocorrência
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">description</i>
              </div>
              <h4 class="card-title">
                Ocorrências
              </h4>
            </div>
            <nav mat-tab-nav-bar class="mat-tab-header">
              <a mat-tab-link [active]="status == 'Em Aberto'" (click)="status= 'Em Aberto'; loadTabs()">
                Em Aberto
              </a>
              <a mat-tab-link [active]="status == 'Encerrado'" (click)="status= 'Encerrado'; loadTabs()">
                Encerrados
              </a>
            </nav>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <table cellspacing="0" class="table table-striped table-no-bordered table-hover dataTable dtr-inline collapsed"
                    role="grid">
                    <thead>
                      <tr role="row">
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Descrição da Ocorrência</th>
                        <th class="text-center">Resposta do Sindico</th>
                        <th class="text-center">Status Ocorrência</th>
                        <th class="text-center">Data da Ocorrência</th>
                        <th class="text-center">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd ng-star-inserted" *ngFor="let item of listOcorrencias">
                        <td class="text-center">{{item.titulo}}</td>
                        <td class="text-center">{{item.mensagem_in}}</td>
                        <td class="text-center">{{item.mensagem_out}}</td>
                        <td class="text-center">{{item.status_ocorrencia}}</td>
                        <td class="text-center">{{item.data_ocorrencia | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">
                          <button *ngIf="item.status_ocorrencia == 'Em Aberto' && user != 'Condomino'" (click)="responder = true; idOcorrencia= item.id_ocorrencia"
                            class="btn btn-link btn-danger mat-raised-button">
                            <span class="mat-button-wrapper">
                              <i class="material-icons">edit</i>
                              Responder Ocorrência
                            </span>
                          </button>
                          <button *ngIf="item.status_ocorrencia == 'Encerrado' && user == 'Condomino'" (click)="reabrir = true; idOcorrencia= item.id_ocorrencia"
                            class="btn btn-link btn-danger mat-raised-button">
                            <span class="mat-button-wrapper">
                              <i class="material-icons">autorenew</i>
                              Reabrir Ocorrência
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="loader-wrapper" *ngIf="cadastrar">
  <div class="col-md-5 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">feedback</i>
        </div>
        <h4 class="card-title">
          Adicionar Ocorrência
        </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formOcorrencia" (ngSubmit)="doSalvar()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Titulo da Ocorrência" maxlength="40" type="text" formControlName="titulo">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Descreva o motivo da Ocorrência" type="text" formControlName="mensagem_in"></textarea>
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button (click)="cadastrar = false" class="btn btn-round">
            Cancelar
          </button>
          <button mat-raised-button type="submit" class="btn btn-round btn-success pull-right">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="responder">
  <div class="col-md-5 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">feedback</i>
        </div>
        <h4 class="card-title">
          Responder Ocorrência
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea [(ngModel)]="messageOut" matInput placeholder="Responder Ocorrência" maxlength="40" type="text"></textarea>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button (click)="responder = false" class="btn btn-round">
          Cancelar
        </button>
        <button mat-raised-button (click)="encerrarOcorrencia()" class="btn btn-round btn-success pull-right">
          Responder
        </button>
      </div>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="reabrir">
  <div class="col-md-5 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">feedback</i>
        </div>
        <h4 class="card-title">
          Reabrir Ocorrência
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Deseja realmente reabrir a Ocorrência?</p>
          </div>
        </div>
        <button mat-raised-button (click)="reabrir = false" class="btn btn-round">
          Não
        </button>
        <button mat-raised-button (click)="reabrirOcorrencia()" class="btn btn-round btn-success pull-right">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>