<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">accessibility_new</i>
              </div>
              <h4 class="card-title">
                Registro de Residente
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="formCadastroResidente" (ngSubmit)="doCadastro()">
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CPF" maxlength="11" type="text" formControlName="cpf">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="RG" type="text" formControlName="rg">
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nome Completo" type="text" formControlName="nome">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Data Nascimento" type="date" formControlName="data_nascimento">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CEP" maxlength="8" type="text" (keyup)="changeCep($event)"
                        formControlName="cep">
                    </mat-form-field>
                  </div>
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Endereço" type="text" formControlName="endereco">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número" type="number" formControlName="numero">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Bairro" type="text" formControlName="bairro">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cidade" disabled type="text" formControlName="cidade">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Estado" disabled type="text" formControlName="estado">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Telefone" type="text" formControlName="telefone">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="E-mail" type="email" formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-select placeholder="Condominio" formControlName="cnpj_condominio">
                      <mat-option *ngFor="let condominio of listCondominio" value="{{condominio.cnpj}}">{{condominio.razao_social}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-md-4">
                    <mat-select placeholder="Apartamento" formControlName="apto">
                      <mat-option *ngFor="let apto of listApto" value="{{apto.id}}">{{apto.numero}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-round pull-right">
                  Cadastrar
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>