<div class="wrapper wrapper-full-page" data-background-color="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto form-custom">
        <form class="form ng-untouched ng-pristine ng-valid">
          <div class="card card-login">
            <div class="card-header card-header-rose text-center">
              <h4 class="card-title">Log in</h4>
            </div>
            <div class="card-body form-body ">
              <p class="card-description text-center"></p>
              <span class="bmd-form-group">
                <div class="input-group input-bottom">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input class="form-control" type="text" placeholder="Login" [(ngModel)]="login.login" name="username">
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Senha" [(ngModel)]="login.senha" type="password" name="password">
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center input-bottom">
              <button class="buttons" mat-raised-button (click)="doLogin()" color="primary">Acesar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>