<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <button type="submit" class="btn btn-round pull-right" (click)="cadastrar = true">
            Cadastrar Visitante
          </button>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4 ml-auto mr-auto custom1">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">transfer_within_a_station</i>
              </div>
              <p class="card-category">Entrada</p>
              <h3 class="card-title">{{listRegistro[0].entrada}}
                <small>Registros</small>
              </h3>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class=" col-md-4 ml-auto mr-auto custom2">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">transfer_within_a_station</i>
              </div>
              <p class="card-category">Saída</p>
              <h3 class="card-title">{{listRegistro[1].saida}}
                <small>Registros</small>
              </h3>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">swap_horiz</i>
              </div>
              <h4 class="card-title">
                Controle de Entrada e Saída
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <table cellspacing="0" class="table table-striped table-no-bordered table-hover dataTable dtr-inline collapsed"
                    role="grid">
                    <thead>
                      <tr role="row">
                        <th>Nome Visitante</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                        <th>Registrar Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd ng-star-inserted" *ngFor="let item of listVisitantes">
                        <td>{{item.nome_visitante}}</td>
                        <td>{{item.data_entrada | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.data_saida | date: 'dd/MM/yyyy'}}</td>
                        <td>
                          <button *ngIf="!item?.data_saida" class="btn btn-link btn-danger mat-raised-button">
                            <span class="mat-button-wrapper" (click)="registraSaida(item.id_visitante)">
                              <i class="material-icons">exit_to_app</i>
                              Registrar Saída
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="loader-wrapper" *ngIf="cadastrar">
  <div class="col-md-5 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">
          Registro de Visitantes
        </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formCadastroVisitante" (ngSubmit)="doCadastro()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Informe RG ou CPF" maxlength="40" type="text" formControlName="doc_visitante">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Informe o nome" type="text" formControlName="nome_visitante">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Descreva o motivo da Visita" type="text" formControlName="motivo_visita"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-select placeholder="Selecione Bloco, Unidade" formControlName="id_apto">
                <mat-option *ngFor="let apto of listApto" value="{{apto.id}}">{{apto.bloco}}, {{apto.numero}}</mat-option>
              </mat-select>
            </div>
          </div>
          <button mat-raised-button (click)="cadastrar = false" class="btn btn-round">
            Cancelar
          </button>
          <button mat-raised-button type="submit" class="btn btn-round btn-success pull-right">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>