<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-7 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">business</i>
              </div>
              <h4 class="card-title">
                Registro de Apartamentos
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="formCadastroApto" (ngSubmit)="doCadastro()">
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número do Apartamento" type="text" formControlName="numero">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Bloco" type="text" formControlName="bloco">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Andar" type="text" formControlName="andar">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field>
                      <mat-select placeholder="Escolha o Condominio" formControlName="cnpj_condominio">
                        <mat-option *ngFor="let condominio of listCondominio" value="{{condominio.cnpj}}">{{condominio.razao_social}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-round pull-right">
                  Cadastrar
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>