<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-7 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">tap_and_play</i>
              </div>
              <h4 class="card-title">
                Ativar RFID
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="formAtivar" (ngSubmit)="doAtivar()">

                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field>
                      <mat-select placeholder="RFID" formControlName="id_rfid">
                        <mat-option *ngFor="let lista of listaRfid" value="{{lista.id_rfid}}">{{lista.rfid}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <button mat-raised-button type="submit" class="btn btn-round pull-right">
                  Ativar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>