<div class="wrapper login-wrapper" data-background-color="white">
  <div class="sidebar" data-color="white" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">add_comment</i>
              </div>
              <h4 class="card-title">
                Publicar Comunicado
              </h4>
            </div>
            <div class="card-body">
              <form class="bottom-custom" [formGroup]="formOcorrencia" (ngSubmit)="doSalvar()">
                <button type="submit" class="btn btn-round pull-right">
                  Publicar
                </button>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-11">
                    <div class="input-group no-border">
                      <input class="form-control" placeholder="Titulo do Comunicado" maxlength="40" type="text"
                        formControlName="titulo">
                    </div>
                  </div>
                </div>
              </form>
              <div class="row ">
                <div class="col-md-12">
                  <ck-editor name="texto" [(ngModel)]="descricao" skin="moono-lisa" language="pt" [fullPage]="true"
                    [config]="editorConfig"></ck-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="loader-wrapper" *ngIf="load">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
</div>