<div class="logo">
    <a [routerLink]="['/dashboard']" class="simple-text">
        <div class="logo-img">
        </div>
        CONDOSERVICES
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="material-icons">home</i>
                <p>Inicio</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link pointer" role="button" (click)="openMenuComunicados('comunicados')">
                <i class="material-icons">message</i>
                <p>Comunicados
                    <b class="caret"></b>
                </p>
            </a>
            <ul *ngIf="comunicados" class="nav">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/comunicados']">
                        <span class="sidebar-normal">Lista comunicados</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item" *ngIf="user != 'Condomino'">
                    <a class="nav-link" [routerLink]="['/cadastro-comunicados']">
                        <span class="sidebar-normal">Registrar Comunicados</span>
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/ocorrencias']">
                <i class="material-icons">description</i>
                <p>Ocorrências</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="user != 'Condomino'">
            <a class="nav-link pointer" role="button" (click)="openMenuPortaria('portaria')">
                <i class="material-icons">security</i>
                <p>Portaria
                    <b class="caret"></b>
                </p>
            </a>
            <ul *ngIf="portaria" class="nav">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/cadastro-residente']">
                        <span class="sidebar-normal">Registrar Residente</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/cadastro-espacos']">
                        <span class="sidebar-normal">Registrar Areas Comum</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/cadastro-visitantes']">
                        <span class="sidebar-normal">Reg. de Visitante</span>
                    </a>
                </li>


            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reservas']">
                <i class="material-icons">event</i>
                <p>Reservas</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="user != 'Condomino'">
            <a class="nav-link pointer" role="button" (click)="openMenuConfiguracoes('configuracoes')">
                <i class="material-icons">settings</i>
                <p>Configurações
                    <b class="caret"></b>
                </p>
            </a>
            <ul *ngIf="configuracoes" class="nav">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/cadastro-apto']">
                        <span class="sidebar-normal">Registrar Apto</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a routerLinkActive="active" class="nav-link" [routerLink]="['/cadastro-condominio']">
                        <span class="sidebar-normal">Registrar Condominio</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a routerLinkActive="active" class="nav-link" [routerLink]="['/cadastro-usuario']">
                        <span class="sidebar-normal">Registrar Usuário Sistema</span>
                    </a>
                </li>

                <li routerLinkActive="active" class="nav-item">
                    <a routerLinkActive="active" class="nav-link" [routerLink]="['/ativar-rfid']">
                        <span class="sidebar-normal">Ativar RFID</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>