<div class="wrapper login-wrapper" data-background-color="white">
    <div class="sidebar" data-color="white" data-background-color="black">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <!-- <div class="col-md-5 ml-auto mr-auto">
                <img src="../assets/img/logo_image.png" />
            </div> -->
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<div class="loader-wrapper" *ngIf="load">
    <div class="load">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div class="loader-wrapper" *ngIf="isPrimeiroAcesso">
    <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-chart">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">warning</i>
                </div>
                <h4 class="card-title">
                    Primeiro Acesso!
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Identificamos que esse é o seu primeiro acesso, por favor cadastre uma
                            senha para continuar!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="senha" matInput placeholder="Senha" maxlength="40" type="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="confirmaSenha" matInput placeholder="Confirmar Senha" maxlength="40"
                                type="password">
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button (click)="cancelar()" class="btn btn-round">
                    Cancelar
                </button>
                <button mat-raised-button (click)="atualizarSenha()" class="btn btn-round btn-success pull-right">
                    Atualizar
                </button>
            </div>
        </div>
    </div>
</div>